<body>
  <main>
    <h1>Add New Inventory Item</h1>
    <form action="/inv/add-inventory" method="POST">
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" required />

      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model" required />

      <label for="inv_year">Year:</label>
      <input type="number" id="inv_year" name="inv_year" required />

      <label for="classificationList">Classification:</label>
      <select name="classification_id" id="classificationList" required>
        <option value="">Choose a Classification</option>
        <% classifications.forEach(function(classification) { %>
        <option value="<%= classification.classification_id %>">
          <%= classification.classification_name %>
        </option>
        <% }) %>
      </select>

      <label for="inv_image">Image Path:</label>
      <input type="url" id="inv_image" name="inv_image" required />

      <label for="inv_thumbnail">Thumbnail Path:</label>
      <input type="url" id="inv_thumbnail" name="inv_thumbnail" required />

      <label for="inv_price">Price:</label>
      <input type="number" id="inv_price" name="inv_price" required />

      <label for="inv_miles">Miles:</label>
      <input type="number" id="inv_miles" name="inv_miles" required />

      <label for="inv_color">Color:</label>
      <input type="text" id="inv_color" name="inv_color" required />

      <label for="inv_description">Description:</label>
      <textarea id="inv_description" name="inv_description" required></textarea>

      <button type="submit">Add Inventory Item</button>
    </form>
  </main>
</body>
