<!-- views/inventory/management.ejs -->

<main>
  <h1>Inventory Management</h1>

  <!-- Flash Messages -->
  <% if (messages.length) { %>
  <ul>
    <% messages.forEach(message => { %>
    <li><%= message %></li>
    <% }) %>
  </ul>
  <% } %>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
  </ul>
</main>
